@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #fafafa;
  --background: #09090b;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #18181b;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 #18181b;
}

::selection {
  background: #3b82f6;
  color: white;
}
